# Virtual environment
venv/

# Python cache
__pycache__/
*.py[cod]
*.pyo

# Logs and environment files
*.log
.env

# VS Code settings
.vscode/

# Byte-compiled and optimized files
*.pyc


# Environments
.env
.venv
env/
venv/
ENV/
env.bak/
venv.bak/


 Docker compose overrides
compose.override*
docker-compose.override*

# Compose files for other environments
compose.*.yml
docker-compose.*.yml

# Unit test / coverage reports
htmlcov/
.tox/
.nox/
.coverage
.coverage.*
.cache
nosetests.xml
coverage.xml
*.cover
*.py,cover
.hypothesis/
.pytest_cache/
cover/